.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#logo {
  width: 3.5%;
  height: 80%;
  border-radius: 0.5em;
  align-self: center;
  margin: 1em;
  margin-top: 25px;
}

#webnameflexbox {
  width: 15%;
  display: flex;
  background: rgb(255, 255, 255);
  height: 3em;
  flex-wrap: wrap;
}

div#navbar {
  display: flex;
  background: rgb(255, 255, 255);
  height: 3em;
}

#elementorb {
  margin-top: 7px;
  margin-bottom: -10em;
}

#elementorspan {
  margin-top: 25px;
  /* margin-bottom: 0.01em; */
  font-weight: 100;
  font-family: serif;
}